<div class="row">
    <div class="col-md-3">
        <h1>QUEST TITLE <span>STARS</span>★</h1>
    </div>
</div>
<br />
<div class="row">
    <div style="background-color: #D6CCA9" class="col-md-3">
        Requested by : Example
        <ul>
            <li>Where, DESTINATION</li>
            <li>When, ASAP</li>
            <li>Guild Reward, REWARD</li>
            <li>Character Level, number level characters</li>
            <li>Primary Goal, Slay a CREATURE</li>
            <li>Optional Goal, Slay a CREATURE</li>
            <li><i>Quest Lore</i></li>
        </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <h2>Minor Challenges</h2>
        @for (int i = 0; i < 10; i++)
        {
            if (i % 2 == 0)
            {
                <div class="row" style="background-color: grey;text-align: center">
                    MINOR
                </div>
            }
            else
            {
                <div class="row" style="background-color: whitesmoke;text-align: center">
                    MINOR
                </div>
            }
        }
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3">
        <h2>Major Challenges</h2>
        @for (int i = 0; i < 10; i++)
        {
            if (i % 2 == 0)
            {
                <div class="row" style="background-color: grey;text-align: center">
                    MAJOR
                </div>
            }
            else
            {
                <div class="row" style="background-color: whitesmoke;text-align: center">
                    MAJOR
                </div>
            }
        }
    </div>

    <div class="col-md-1">

    </div>
    <div class="col-md-3">
        <h2>Benefits</h2>
        @for (int i = 0; i < 4; i++)
        {
            if (i % 2 == 0)
            {
    <div class="row" style="background-color: grey;text-align: center">
        Benefits
    </div>
            }
            else
            {
    <div class="row" style="background-color: whitesmoke;text-align: center">
        Benefits
    </div>
            }
        }
    </div>
</div>
